<?xml version="1.0"?>
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.0"/>
  </system.web>
  <appSettings>
  <add key="WebReference.SmsWebService" value="http://114.215.136.60:8888/SmsWebService.asmx"/>
  </appSettings>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="SmSWebServiceSoap" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://114.215.136.60:8888/SmsWebService.asmx"
        binding="basicHttpBinding" bindingConfiguration="SmSWebServiceSoap"
        contract="SmsWebService.SmSWebServiceSoap" name="SmSWebServiceSoap" />
    </client>
  </system.serviceModel>
</configuration>